.weatherBg{
  background: url("file:///C:/Users/91769/Downloads/nature-colorful-landscape-dusk-cloud%20(1).jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color: aliceblue;
  font-weight: 700;
}

.weatherResultbox{
  margin: auto;
  width: 500px; 
  height: 300px;
}

.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.weatherCity{
  font-size: 35px;
}

.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}